
@{
    ViewData["Title"] = "Index";
}
<header>
    <nav>
        @Html.Partial("NavMenu", (string)@ViewBag.Role)
    </nav>
</header>




<div class="grid-container" style="margin-left: 300px">

     @foreach (var post in ViewBag.Posts)
     {
         <div class="card grid-item" style="margin-left: 00px">
             <div class="container">
                 <h4 style="margin-top : 20px"><b>@post.Title</b></h4>
                 <p style="margin-top: 25px">@post.Content</p>
                 @if (ViewBag.Role == "golam")
                 {
                     <form>
                         <input class="btn btn-danger" style="margin-top: 8px; cursor: pointer; display: block; margin-left: 8px" value="Apply" id="apply" onclick="clickApply(@post.PostId) " />
     
                          
                     </form> 

                 }
                 <script>
                     function clickApply(id) {
                         var request = new XMLHttpRequest(); 

                         request.open('GET', "/post/apply?id=" + id, true); 
                         request.setRequestHeader("Content-Type", "application/json"); 

                         request.onload = function () { 
                             var data = JSON.parse(this.response); 
                                                      console.log(data.result); 
                             if (data.result === "OK") { 

                                 window.location.replace("/post/index");                            
                             } else { 
                                 window.location.replace("/home/index"); 
                             } 
                         } 
                         request.send(); 
                     } 
                 </script> 

             </div> 
         </div> 

     } 
</div>
