@{
    ViewData["Title"] = "MyInterviews";
}


<header>
    <nav>
        @Html.Partial("NavMenu", (string)@ViewBag.Role)
    </nav>
</header>




<div class="grid-container" style="margin-left: 300px">
    @foreach (var post in ViewBag.Posts)
    {
        <div class="card grid-item" style="margin-left: 00px">
            <div class="container">
                <h4 style="margin-top : 20px"><b>@post.Title</b></h4>
                <p style="margin-top: 25px">@post.Content</p>
                <form method="post" action="/chatter">
                    <input style="display: none" value="@post.Username" name="username"/>
                    <button type="submit" class="btn btn-info"> Start Interview</button>
                </form>


            </div>
        </div>

    }
</div>
