
@{
    ViewData["Title"] = "Edit";
}

@using Models.View_Model
@model Models.Model.Post

<header>
    <nav>
        @Html.Partial("NavMenu", (string)ViewBag.Role)
    </nav>
</header>

<h2 style="margin-left: 720px;margin-top: 100px ">  Edit Post</h2>
<div class="col-lg-12" style="margin-top: 110px">
    <form action="/Post/Edit" method="post">
        
        <div class="col-lg-6" style="margin-left: 500px; padding: 7px">
            <label> Title </label>
            <input class="col-lg-6 input" style="margin-left: 56px;" asp-for="Title" type="text" name="title" value="@ViewBag.Post.Title" placeholder="Title" />
            <input style="display: none" value="@ViewBag.Post.PostId" name="PostId"/>

        </div>
        <div class="col-lg-6" style="margin-left: 500px; padding: 7px">
            <label> Content </label>
            <input type="text" class="col-lg-6" style="margin-left: 28px;" name="content" asp-for="Content"  value="@ViewBag.Post.Content" placeholder="Content" />
        </div>
        <div class="col-lg-6" style="margin-left: 750px; padding: 20px">
            <button type="submit">Post</button>
        </div>


    </form>
</div>
