@{
    ViewData["Title"] = "Home Page";
}


<header>
    <nav>
        @Html.Partial("NavMenu", (string)@ViewBag.Role)
    </nav>
</header>

<div class="grid-container" style="margin-left: 300px">

    @foreach (var post in ViewBag.Posts)
    {
        <div class="card grid-item" style="margin-left: 00px">
            <div class="container">
                <h4 style="margin-top : 20px"><b>@post.Title</b></h4>
                <p style="margin-top: 25px">@post.Content</p>
                @if (ViewBag.Role == "golam")
                {
                    <form>
                        <input class="btn btn-danger" style="margin-top: 8px; cursor: pointer; display: block; margin-left: 8px" value="Apply" id="apply" onclick="clickApply(@post.PostId) " />
     
                          
                    </form> 

                }
                <script>
                    function clickApply(id) {
                        var request = new XMLHttpRequest(); 

                        request.open('GET', "/post/apply?id=" + id, true); 
                        request.setRequestHeader("Content-Type", "application/json"); 

                        request.onload = function () { 
                            var data = JSON.parse(this.response); 
                            console.log(data.result); 
                            if (data.result === "OK") { 

                                window.location.replace("/home/index");                            
                            } else { 
                                window.location.replace("/home/index"); 
                            } 
                        } 
                        request.send(); 
                    } 
                </script> 

            </div> 
        </div> 

    } 
</div>


@* *@
@* *@
@* <div class="container"> *@
@*     <div class="row">&nbsp;</div> *@
@*     <div class="row"> *@
@*         <div class="col-6">&nbsp;</div> *@
@*         <div class="col-6"> *@
@*             User..........<input type="text" id="userInput" /> *@
@*             <br /> *@
@*             Message...<input type="text" id="messageInput" /> *@
@*             <input type="button" id="sendButton" value="Send Message" /> *@
@*         </div> *@
@*     </div> *@
@*     <div class="row"> *@
@*         <div class="col-12"> *@
@*             <hr /> *@
@*         </div> *@
@*     </div> *@
@*     <div class="row"> *@
@*         <div class="col-6">&nbsp;</div> *@
@*         <div class="col-6"> *@
@*             <ul id="messagesList"></ul> *@
@*         </div> *@
@*     </div> *@
@* </div> *@
@* *@
@* $1$ <script src="https://cdnjs.cloudflare.com/ajax/libs/aspnet-signalr/1.1.4/signalr.js"></script> #1# *@
@* $1$ <script src="https://cdnjs.cloudflare.com/ajax/libs/aspnet-signalr/1.1.4/signalr.min.js"></script> #1# *@
@* <script src="https://cdnjs.cloudflare.com/ajax/libs/microsoft-signalr/3.1.3/signalr.js"></script> *@
@* <script src="~/js/chat.js"></script> *@
