
@{
    ViewData["Title"] = "Login";
}





<h2 style="margin-left: 700px;margin-top: 100px ">Login</h2>
<div class="col-lg-12" style="margin-top: 110px">
    <form action="/Home/Login"  method="post">

        <div class="col-lg-6" style="margin-left: 500px; padding: 7px">
            <label> Email </label>
            <input type="text" class="col-lg-6" style="margin-left: 28px;" name="username" value="" placeholder="Email" />
        </div>
        <div class="col-lg-6" style="margin-left: 500px; padding: 7px">
            <label> Password </label>
            <input type="password" class="col-lg-6" name="password" value="" placeholder="Password" />
        </div>
        <div class="col-lg-6" style="margin-left: 650px; padding: 20px">
            <button type="submit">Login</button>
        </div>


    </form>
</div>


