
@{
    ViewData["Title"] = "Register";
}

<h2 style="margin-left: 650px;margin-top: 100px ">Register</h2>
<div class="col-lg-12" style="margin-top: 110px" >
    <form action="/Home/Register" method="post">

        <div class="col-lg-6" style="margin-left: 500px; padding: 7px">
            <label >Choose your Role:</label>

            <select name ="roleName">
                <option value="malik">Need Employee</option>
                <option value="golam">Need Job</option>
            </select>

        </div>



        <div class="col-lg-6" style="margin-left: 500px; padding: 7px">
            <label > Name </label>
            <input class="col-lg-6 input" style="margin-left: 26px;"type="text" name="name" value=""placeholder="Name"/>
        </div>
        <div class="col-lg-6"style="margin-left: 500px; padding: 7px">
            <label > Email </label>
            <input type="text" class="col-lg-6"style="margin-left: 28px;" name="email" value=""placeholder="Email"/>
        </div>
        <div class="col-lg-6"style="margin-left: 500px; padding: 7px">
            <label> Password </label>
            <input type="password" class="col-lg-6" name="password" value="" placeholder="Password"/>
        </div>
        <div class="col-lg-6"style="margin-left: 650px; padding: 20px">
            <button type="submit">Register</button>
        </div>


    </form>
</div>
