<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - JobMarket</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<style>
    textarea {
        width: 100%;
        height: 100px;
        padding: 6px 10px;
        box-sizing: border-box;
        border: 2px solid #ccc;
        border-radius: 4px;
        background-color: #f8f8f8;
        font-size: 16px;
        resize: none;
    }

    div.fixed {
        position: fixed;
        width: 100%;
        bottom: 0px;
        background-color: white;
        padding-left: 100px;
    }

    .card {
        box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
        transition: 0.3s;
        width: 80%;
        margin-top: 20px;
    }

    .chat {
        box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
        transition: 0.3s;
        width: 50%;
        margin-top: 20px;
    }

    .chat-my {
        background-color: #3b5998;
        color: white;
        margin-left: 400px;
    }

    .card:hover {
        box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    }

    .container {
        padding: 2px 16px 16px;
    }

    .container-chat {
        padding: 2px 6px 6px;
    }


    .grid-container {
        display: grid;
        grid-template-columns: auto;
        padding: 10px;
    }

    .grid-item {
        /* background-color: rgba(255, 255, 255, 0.8); */
        border: 1px solid rgba(0, 0, 0, 0.8);
    }
</style>

<body>

    @RenderBody()

    @* <footer class="border-top footer text-muted"> *@
    @*     <div class="container"> *@
    @*         &copy; 2020 - InterviewBoard - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a> *@
    @*     </div> *@
    @* </footer> *@
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
