@{
    ViewData["Title"] = "NavMenu";
}

<nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
    <div class="container">
        <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">Interview Board App</a>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
            <ul class="navbar-nav flex-grow-1">
                @if (ViewBag.UserDetailes.roleName == "giver")
                {
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                    </li>
@*                     <li class="nav-item"> *@
@*                         <a class="nav-link text-dark" asp-area="" asp-controller="Post" asp-action="Create">Create Job</a> *@
@*                     </li> *@
@* *@
@*                     <div class="nav-item justify-content-end mr-auto"> *@
@*                         <li class="nav-item"> *@
@*                             <a class="nav-link text-dark" asp-area="" asp-controller="Post" asp-action="MyPosts">My Posts</a> *@
@*                         </li> *@
@*                     </div> *@
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Welcome @ViewBag.UserDetailes.user.Name</a>
                    </li>

                    <li class="nav-item justify-content-end">
                        <a class="nav-link text-dark" asp-area="" asp-controller="Auth" asp-action="Logout">Logout</a>
                    </li>

                }
                else if (ViewBag.UserDetailes.roleName == "")
                {
                    <div class="nav-item justify-content-end mr-auto">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                    </div>

                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-controller="Auth" asp-action="Login">Login</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-controller="Auth" asp-action="Register">Register</a>
                    </li>
                }
                else
                {
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                    </li>
@*                     <div class="nav-item justify-content-end mr-auto"> *@
@*                         <li class="nav-item"> *@
@*                             <a class="nav-link text-dark" asp-area="" asp-controller="Post" asp-action="MyInterviews">My Inteviews</a> *@
@*                         </li> *@
@* *@
@*                     </div> *@
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Welcome @ViewBag.Name</a>
                    </li>

                    <li class="nav-item justify-content-end">
                        <a class="nav-link text-dark" asp-area="" asp-controller="Auth" asp-action="Logout">Logout</a>
                    </li>

                }

            </ul>


        </div>
    </div>
</nav>

